<div class="row span12">
  <form action="/user" method="post" class="form-horizontal">
    <fieldset>
      <legend>Create Account</legend>
      <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
          <input type="email" name="email"/>
        </div>
      </div>
    </fieldset>
  </form>
</div>